body {
 font-family: 'Roboto', sans-serif;
 margin: 0;
 padding: 0;
 line-height: 10px;
 display: inline-block;
}
a{
    text-decoration: none;
}
nav {
    height: 15px;
    background: rgba(0, 0, 0, 0.8);
    padding: 12px 0px 12px 0;
    
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0px;
    justify-content: center;
}

nav ul li a {
    color: whitesmoke;
    text-decoration: none;
    margin: 0 33px 0 33px;
    font-size: 0,9rem;
} 

span.icon {
    width: 20px;
    height: 20px;
    background-size: 50%;
    background-position: -15px -15px;
    background-repeat: no-repeat;
    display: block;

}
span.apple {
   background-image: url('../assets/apple.svg');
}
span.zoom {
    background-image: url('../assets/zoom.svg');
}
span.shopping {
    background-image: url('../assets/shopping.svg');
}

.title-black {
    color: black;
    text-align: center;
    font-size: 25px;
}
.title-red {
    color: red;
    text-align: center;
    font-size: 20px;
}
h1 {
    color: black;
    text-align: center;
    font-size: 90px;
    font-weight: bold;
}
h4 {
    color: black;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}
.title-black {
    color: black;
    text-align: center;
    font-size: 15px;
}
button {
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 60px;
    border:rgb(0, 113, 227); 
    background-color: rgb(0, 113, 227);
    margin: 14px; 
}
a {
    text-align: center;
    font-size: 17px;
    text-decoration-color:  rgb(0, 113, 227);
    text-decoration: none
}
div.jpg {
    padding-left: 300px;
    padding-right: 100px;
    padding-top: 60px;
    display: inline-block
}   
.box {
    text-align: center;
    margin: 60px;
    display: inline-flex;
}

.box-left{
    text-align: center;
    width: 400px;
	height: 200px;
    background-color:  rgb(242, 242, 242);
	border: 1px  rgb(242, 242, 242);
    display: inline-flex;
 
}

h4{
    margin-top: 80px;
    font-size: 27px;
    font-weight: bold;
}
div.apple-tools {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px; 
    padding-top: 100px;
    
}
.box-right {
    text-align: center;
    width: 400px;
	height: 200px;
    background-color:  rgb(242, 242, 242);
    border: 1px  rgb(242, 242, 242);
    display: inline-flex;
}
h2{ 
    text-align: center;
    font-weight: bold;
    font-size: 50px;

}
div.laptop-cover {
    padding-bottom: 0px;
    padding-left: 50px;
    padding-right: 50px; 
    padding-top: 100px;
}

a {
    text-align: center;
    font-size: 17px;
    text-decoration-color:  rgb(0, 113, 227);
    text-decoration: none;
}
div.box-entrega {
   
    text-align: center;
    font-size: 15px;  
}
p {
    text-align: center;
    margin-bottom: 12px;
    line-height: 10px;
    
}
a {
    text-align: center;
    font-size: 15px;
    text-decoration-color:  rgb(0, 113, 227);
    text-decoration: none;
    height: 80px;
}    

.copyright nav {
    display: inline flex;
    text-align: left;

}   
.footer nav{
    background-color:rgb(245, 245, 247);
    color:  rgb(81, 81, 84);
    font-size: 14px;
    height: 15px;
    padding-bottom: 0px;    
    padding-top: 20px;   
  
}

.footer nav a h5 {
    background-color:rgb(245, 245, 247);
    color:  rgb(81, 81, 84);
    height: 25px;
    margin: -12px -50px 0px 0px;
    font-size: 12px;
    list-style: none;
    display: inline-block;
  

}
.footer p {
    margin-bottom: 50px;
    margin: 0 0px 0px 40px;
    font-size: 12px;
    height: 20px;
    inline-size: auto;
}